includes:
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 5
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    excludes_analyse:
    	- %rootDir%/../../../src/BuilderMacros.php
    ignoreErrors:
        - '#Using \$this in static method Algolia\\ScoutExtended\\Search\\Aggregator::bootSearchable\(\).#'

