includes:
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 5
    paths:
        - src
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Illuminate\\Database\\Eloquent\\Model::searchableAs\(\)#'
        - '#Algolia\\ScoutExtended\\ScoutExtendedServiceProvider::getModel\(\)#'
        - '#Unsafe usage of new static#'
        - '#Call to an undefined method Illuminate\\Support\\Collection<int, \$this\(Algolia\\ScoutExtended\\Searchable\\Aggregator\)>::searchable\(\).#'
        - '#Call to an undefined method Illuminate\\Support\\Collection<int, \$this\(Algolia\\ScoutExtended\\Searchable\\Aggregator\)>::unsearchable\(\).#'
