includes:
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    excludes_analyse:
    	- %rootDir%/../../../src/BuilderMacros.php
    ignoreErrors:
        - '#Using \$this in static method Algolia\\ScoutExtended\\Searchable\\Aggregator::bootSearchable\(\).#'
        - '#Method Algolia\\ScoutExtended\\Engines\\AlgoliaEngine::map\(\) should return Illuminate\\Database\\Eloquent\\Collection but returns Illuminate\\Support\\Collection.#'

